/* .container {
    max-width: auto;
    background-color: black;
} */

.bg-header {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.navbar {
    background-color: #2C3E50;
}

.center {
    text-align: center;
}

.bold {
    text-transform: uppercase;
}

.white {
    color: white;
}

.box {
    margin: 2rem;
}

img {
    max-width: 300px;
}

.border-radius {
    border-radius: 10px;
}